.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .cartHeader {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .cartEmpty {
    font-size: 1.25rem;
    color: #777;
  }
  
  .cartItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
