.home-page {
  display: flex;
  flex-direction: column;
}

.hero {
  color: #fff;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.hero__content {
  max-width: 800px;
  padding: 1rem;
  background-color: rgba(68, 68, 68, 0.8);
  border-radius: 10px;
}

.hero__title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.hero__subtitle {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.hero__cta {
  border: 1px solid #000000;
  background-color: #333;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1.125rem;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.hero__cta:hover {
  background-color: #444;
}

.featured {
  padding: 2rem 1rem;
  text-align: center;
}

.featured__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border-color: #000000;
  color:#ecf0f1;
}

.featured__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.featured__game {
  width: 200px;
  background-color: #ecf0f1;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.featured__game-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.featured__game-name {
  font-size: 18px;
  font-weight: 600;
  color: #2c3e50;
  margin: 0;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
