/* src/global.css */
body {
    background-image: url('/src/components/peakpx.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* This keeps the background image fixed in the same place */
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  